arrow==1.4.0              # via inform, -c reqs/../nt2/requirements.txt
click==8.3.1              # via click-completion, click-default-group, ward
click-completion==0.5.2   # via ward
click-default-group==1.2.4  # via ward
cucumber-tag-expressions==4.1.0  # via ward
inform==1.36              # via nestedtext, -c reqs/../nt2/requirements.txt
iniconfig==2.3.0          # via pytest
jinja2==3.1.6             # via click-completion
markdown-it-py==4.0.0     # via rich, -c reqs/../nt2/requirements.txt
markupsafe==3.0.3         # via jinja2
mdurl==0.1.2              # via markdown-it-py, -c reqs/../nt2/requirements.txt
nestedtext==3.8           # via -c reqs/../nt2/requirements.txt, -r reqs/test-without-extras-requirements.in
packaging==26.0           # via pytest
pluggy==1.6.0             # via pytest, ward
plumbum==1.10.0           # via -c reqs/../nt2/requirements.txt, -r reqs/test-without-extras-requirements.in
pprintpp==0.4.0           # via ward
prysk==0.11.0             # via -r reqs/test-without-extras-requirements.in
pygments==2.19.2          # via rich, -c reqs/../nt2/requirements.txt
pytest==7.4.4             # via prysk
python-dateutil==2.9.0.post0  # via arrow, -c reqs/../nt2/requirements.txt
rich==14.3.3              # via ward, -c reqs/../nt2/requirements.txt
shellingham==1.5.4        # via click-completion
six==1.17.0               # via click-completion, inform, python-dateutil, -c reqs/../nt2/requirements.txt
tomli==2.4.1              # via prysk, ward, -c reqs/../nt2/all-requirements.txt
tomli-w==1.2.0            # via prysk, -c reqs/../nt2/all-requirements.txt
tzdata==2025.3            # via arrow, -c reqs/../nt2/requirements.txt
ward==0.68.0b0            # via -r reqs/test-without-extras-requirements.in
