-c ../nt2/requirements.txt
-c ../nt2/toml-requirements.txt

-r ../nt2/toml-requirements.in

nestedtext
plumbum
ward ; python_version<"3.11"

ward @ git+https://github.com/andydecleyre/ward@bugfix/352 ; python_version>="3.11"
