-c nt2/requirements.txt
-c nt2/toml-requirements.txt
-c nt2/huml-requirements.txt
-c test/test-requirements.txt

-r doc-requirements.txt
-r fmt-requirements.txt
-r test-requirements.in

ipython  # manually debug
