-c test/test-requirements.txt

-c nt2/requirements.txt
-c nt2/toml-requirements.txt

black             # format code
isort             # format imports
ssort             # reorder functions

darglint          # lint docstrings
pydocstyle        # lint docstrings

ruff              # lint code
