darglint==1.8.1           # via -r fmt-requirements.in
pathspec==0.12.1          # via ssort
ruff==0.8.3               # via -r fmt-requirements.in
ssort==0.14.0             # via -r fmt-requirements.in
