# Support for all formats, that is.
# This does not cover development requirements.

-r toml-requirements.in
-r huml-requirements.in
-r maml-requirements.in
-r hjson-requirements.in
-r xml-requirements.in
