attrs==25.1.0             # via pydoctor, twisted
automat==24.8.1           # via twisted
cachecontrol==0.14.2      # via pydoctor
certifi==2025.1.31        # via requests
charset-normalizer==3.4.1  # via requests
configargparse==1.7       # via pydoctor
constantly==23.10.4       # via twisted
docutils==0.21.2          # via pydoctor
filelock==3.17.0          # via cachecontrol
fpyutils==4.0.1           # via md-toc
hyperlink==21.0.0         # via twisted
idna==3.10                # via hyperlink, requests
incremental==24.7.2       # via twisted
lunr==0.7.0.post1         # via pydoctor
md-toc==9.0.0             # via -r doc-requirements.in
msgpack==1.1.0            # via cachecontrol
platformdirs==4.3.6       # via pydoctor
plumbum==1.9.0            # via -r doc-requirements.in
pydoctor==24.11.2         # via -r doc-requirements.in
requests==2.32.3          # via cachecontrol, pydoctor
setuptools==76.0.0        # via incremental, zope-interface
twisted==24.11.0          # via pydoctor
typing-extensions==4.12.2  # via twisted
urllib3==2.3.0            # via pydoctor, requests
wheezy-template==3.2.3    # via -r doc-requirements.in
zope-interface==7.2       # via twisted
