appdirs==1.4.4            # via pydoctor
attrs==24.2.0             # via pydoctor, twisted
automat==24.8.1           # via twisted
cachecontrol==0.14.0      # via pydoctor
certifi==2024.8.30        # via requests
charset-normalizer==3.4.0  # via requests
configargparse==1.7       # via pydoctor
constantly==23.10.4       # via twisted
docutils==0.21.2          # via pydoctor
filelock==3.16.1          # via cachecontrol
fpyutils==4.0.1           # via md-toc
hyperlink==21.0.0         # via twisted
idna==3.10                # via hyperlink, requests
incremental==24.7.2       # via twisted
lunr==0.6.2               # via pydoctor
md-toc==9.0.0             # via -r doc-requirements.in
msgpack==1.1.0            # via cachecontrol
plumbum==1.9.0            # via -r doc-requirements.in
pydoctor==24.3.3          # via -r doc-requirements.in
requests==2.32.3          # via cachecontrol, pydoctor
setuptools==75.1.0        # via incremental, zope-interface
toml==0.10.2              # via pydoctor
twisted==24.7.0           # via pydoctor
typing-extensions==4.12.2  # via twisted
urllib3==2.2.3            # via pydoctor, requests
wheezy-template==3.2.2    # via -r doc-requirements.in
zope-interface==7.1.0     # via twisted
