arrow==1.2.3              # via inform
attrs==22.1.0             # via cattrs
cattrs==22.2.0            # via -r requirements.in
exceptiongroup==1.0.0rc9  # via cattrs
inform==1.27.0            # via nestedtext
nestedtext==3.4.0         # via -r requirements.in
plumbum==1.8.0            # via -r requirements.in
python-dateutil==2.8.2    # via arrow, yamlpath
ruamel-yaml==0.17.21      # via -r requirements.in, yamlpath
ruamel-yaml-clib==0.2.6   # via ruamel-yaml
six==1.16.0               # via inform, python-dateutil
yamlpath==3.6.7           # via -r requirements.in
