arrow==1.4.0              # via inform
attrs==25.4.0             # via cattrs
cattrs==25.3.0            # via -r reqs/requirements.in
inform==1.36              # via nestedtext
markdown-it-py==4.0.0     # via rich
mdurl==0.1.2              # via markdown-it-py
nestedtext==3.8           # via -r reqs/requirements.in
plumbum==1.10.0           # via -r reqs/requirements.in
pygments==2.19.2          # via rich
python-dateutil==2.9.0.post0  # via arrow, yamlpath
rich==14.2.0              # via -r reqs/requirements.in
ruamel-yaml==0.17.21      # via yamlpath, -r reqs/requirements.in
six==1.17.0               # via inform, python-dateutil
typing-extensions==4.15.0  # via cattrs
tzdata==2025.3            # via arrow
wrapt==2.0.1              # via -r reqs/requirements.in
yamlpath==3.8.2           # via -r reqs/requirements.in
