arrow==1.2.3              # via inform
attrs==23.1.0             # via cattrs
cattrs==23.1.2            # via -r requirements.in
exceptiongroup==1.1.1     # via cattrs
inform==1.28              # via nestedtext
markdown-it-py==3.0.0     # via rich
mdurl==0.1.2              # via markdown-it-py
nestedtext==3.6           # via -r requirements.in
plumbum==1.8.2            # via -r requirements.in
pygments==2.15.1          # via rich
python-dateutil==2.8.2    # via arrow, yamlpath
rich==13.4.2              # via -r requirements.in
ruamel-yaml==0.17.21      # via -r requirements.in, yamlpath
ruamel-yaml-clib==0.2.7   # via ruamel-yaml
six==1.16.0               # via inform, python-dateutil
typing-extensions==4.7.1  # via cattrs
yamlpath==3.6.9           # via -r requirements.in
