name: Generate docs from templates and docstrings
on:
  push
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:

      - name: fetch code
        uses: actions/checkout@v3

      - name: get nox
        uses: excitedleigh/setup-nox@v2.1.0

      - name: render documents
        run: nox -s render_readme render_api_docs

      - name: push any changes in current branch
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git commit -am 'Generate Documentation [Automated]' && git push || true

      - name: push API docs to Github Pages
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/develop'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc/api
          commit_message: "Generate API Documentation [Automated]"
