name: Format and lint
on:
  push
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:

      - name: fetch code
        uses: actions/checkout@v3

      - name: get nox
        uses: excitedleigh/setup-nox@v2.1.0

      - name: format and lint
        run: nox -s fmt

      - name: push any changes
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git commit -am 'Format [Automated]' && git push || true
